.aboutContainer{
    background-color: #000000 ;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.spacemanContainer{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 20vw;
    animation: float 4s ease infinite;
}

img{
    width: 100%;
    height: auto;
}

@keyframes float{
    0%{ transform: translateY(-10px) }
    50%{ transform: translateY(15px) translateX(15px) }
    100%{ transform: translateY(-10px) }
}

.detailsTextContainer{
    border: 2px solid #FCF6F4;
    color: #FCF6F4;
    padding: 2rem;
    width: 50vw;
    height: 60vh;
    z-index: 3;
    line-height: 1.5;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: calc(0.6rem + 1vw);
    backdrop-filter: blur(4px);

    position: absolute;
    left: calc(5rem + 5vw);
    top: 10rem;

    font-family: 'Ubuntu Mono', monospace;
    font-style: italic;
}

.aboutBackDrop{
    position: fixed;
    top: 10%;
    left: 5%;
    color: rgba(252, 246, 244, 0.1);
    font-size: calc(5rem + 5vw);
    z-index: 0;
    margin: 0;
    line-height: 1.15;
    display: inline-block;
}