.workContainer{
    background-color: #000000 ;
    height: 100vh;
    width: 400vw;
    position: relative;

    overflow: hiden;
}

.listContainer{
    position: fixed;
    top: 12rem;
    left: calc(10rem + 15vw);
    height: 40vh;
    display: flex;
    margin: 0;

    color: white;
}

.rotateSvg{
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 80px;
    height: 80px;
    z-index: 1;
}
