.blogLink{
    color: rgb(0,0,0);
    position: absolute;
    top: 50%;
    right: calc(1rem + 2vw);
    transform:rotate(90deg) translate(-50%, -50%);
    text-decoration: none;
    z-index: 1;
    line-height: 1.15;
    
}
